[submodule "covid19pt-data"]
	path = covid19pt-data
	url = https://github.com/dssg-pt/covid19pt-data.git
[submodule "pyKinetics"]
	path = pyKinetics
	url = https://github.com/RuiFilipeCampos/pyKinetics
